<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Adverse Reaction</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{#{href.bootstrap.css}}"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></link>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>


	<div th:replace="template::navbar"></div>
		
	<div class="container">
		<form  role="form"  action="#"
			th:action="@{/adverseReaction/edit}" th:object="${adverseReaction}"
			method="post">

			<fieldset>
				<div id="legend">
					<legend>不良反应</legend>
				</div>

				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{medicalCase.id}" />
				<div class="form-group disabled">
					<label class="control-label">病历号</label> <input type="text"
						class="form-control" disabled="disabled"
						th:id="medicalCase.number" th:field="*{medicalCase.number}" />
				</div>
				<div th:replace="template :: input('reactionDate','日期','date')"></div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('symptom')}? has-error">
					<label class="control-label" th:for="'symptom'" th:text="'症状'"></label>
					<select class="form-control" th:id="'symptom'"
						th:field="*{symptom}">
						<option th:each="item:${symptoms}" th:value="${item.id}"
							th:text="${item['name']}">Option A</option>
					</select>
				</div>

				<div th:replace="template :: input('mem','备注','text')"></div>

				<input type="submit" class="btn btn-default" value="确定" />
			</fieldset>
		</form>
	</div>

</body>
</html>