<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Find Medical Case</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{#{href.bootstrap.css}}"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></link>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>


	<div th:replace="template::navbar"></div>
	

	<div class="container">
	<form role="form" action="#"
				th:action="@{/medicalCase/find}" th:object="${medicalCase}"
				method="post">

		<fieldset>
			<div id="legend" class="">
				<legend class="">查询病例</legend>
			</div>

			<div th:replace="template :: input(field='number',text='病历号',type='text')">病历号   XXXXXX</div>
			<div th:replace="template :: input('name','姓名','text')"></div>
			<div class="form-group" >
					<label class="control-label" th:for="'clinical'" th:text="'临床诊断'"></label>
					<select class="form-control" th:id="'clinical'"
						th:field="*{clinical}">
						<option value="" ></option>
						<option th:each="item:${clinicals}" th:value="${item.id}"
							th:text="${item['name']}">Option A</option>
					</select>
			</div>
			<div class="form-group" >
					<label class="control-label" th:for="'fk506ToNeg'" >FK506是否转阴</label>
					<select class="form-control" th:id="'fk506ToNeg'" th:field="*{fk506ToNeg}">
						<option value="" ></option>
						<option value="2000-1-1" >是</option>
						<option value="3000-1-1" >否</option>
					</select>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors()}? has-error">
				<p class="help-block" th:if="${#fields.hasErrors()}" >没有查询到结果，请重新输入条件。</p>
			</div>

			<div class="form-group">
			      <button type="submit" class="btn btn-default">查询</button>
			      <span style="padding:0 20px"></span>
			       <a th:href="@{/medicalCase/next/-1}">从第一个查看</a>
			</div>

		</fieldset>
	</form>


	</div>



</body>
</html>