<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>设置初次使用免疫抑制剂原因</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{#{href.bootstrap.css}}"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></link>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="template::navbar"></div>

	<div class="container">
		<form  role="form"  action="#"
			th:action="@{/medicalCase/hormoneReason}" th:object="${medicalCase}"
			method="post">

			<fieldset>
				<div id="legend" class="">
					<legend class="">设置初次使用免疫抑制剂原因</legend>
				</div>
				<input type="hidden" th:field="*{id}" />

				<div th:replace="template :: input('hormoneReason','初次使用免疫抑制剂原因','text')"></div>


				<input type="submit" class="btn btn-default" value="确定" />
			</fieldset>
		</form>

	</div>



</body>
</html>