<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" 
	th:href="@{#{href.bootstrap.css}}"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></link>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body onload="document.f.username.focus();">
	<div class="container">
		<div class="content">
			<h2>病例记录系统-登录</h2>	

			<p th:if="${param.logout}" class="alert">您已登出成功。</p>
			<p th:if="${param.error}" class="alert alert-error">您输出的用户名或密码有误，请重试。</p>

			<form  class="form-horizontal" th:action="@{/login}" method="POST">
				<fieldset>
				
				<div class="control-group">
				<label class="control-label">用户名</label>
				<div class="controls">
					<input type="text" class="input-xlarge" name="username" value=""/>
				</div>
			</div>
				
				<div class="control-group">
				<label class="control-label">密码</label>
				<div class="controls">
					<input type="password" class="input-xlarge" name="password" />
				</div>
			</div>

				</fieldset>
				<input type="submit" id="login" value="Login"
					class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
</html>